@import "tailwindcss";


@layer base{
  body{
      font-family: "Poppins", sans-serif;
  }
}

.nigga {
	background: linear-gradient(-90deg, #d2b3d5, #d5b8e7,#e696db,#e76dd3,#e95ed1);
	background-size: 200% 200%;
	animation: gradient 15s ease infinite;
	height: 100%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.faggot{
	color: linear-gradient(-45deg, #d2b3d5, #d893e6,#eb82dd,#e758cf,#dc3ec2,#ea50b7);
	animation: gradient 6.7s ease infinite;
}